<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <service
            android:name="io.castled.android.notifications.push.CastledFcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".push.CastledNotificationReceiverAct"
            android:exported="false" />

        <receiver
            android:name="io.castled.android.notifications.push.CastledNotificationReceiver"
            android:exported="false" />
        <activity android:name="io.castled.android.notifications.inbox.views.CastledInboxActivity">
            <!-- Intent filters (if any) -->
        </activity>
    </application>


</manifest>